.features {
  background-color: #000000;
  align-items: contain;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.feature {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 30px;
  width: 70%;
  font-family: GoodTime Regular;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
