.feed-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 110vw;
  z-index: 0;
}
.title-explore {
  font-size: 35px;
  color: white;
  font-family: GoodTime Regular;
  margin-top: 250px;
  z-index: 5;
}

.song-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-top: 120px;
  margin-bottom: 200px;
}
