.feed-background {
    background-color: black;
  }
  
  .feed-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 110vw;
    z-index: -1;
  }

  .heading-upload {
    display: flex;
    position: absolute;
    top: 330px;
    flex-direction: column;
    z-index: 10;
    place-items: center;
  }
  .heading-upload > p {
    z-index: 1;
    font-size: 20px;
    text-align: center;
    font-family: GoodTime Regular;
    color: white;
    width: 100%;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
  }
  .heading-upload > h1 {
    font-family: KoraTaki;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    text-align: center;
    color: white;
    width: 70%;
    animation: pulse 4s ease-in-out infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .p2 {
    margin-top: 40px;
  }
  