/* Looper styles */
@keyframes slideAnim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__innerList[data-animate="true"] .looper__listInstance {
  animation: slideAnim linear infinite;
}

.looper__listInstance {
  display: flex;
  width: max-content;

  animation: none;
}
.contentBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 450px;
  margin: 10px;
  padding: 0px;
  margin-bottom: 130px;
  margin-right: 50px;
  position: relative;
}
.contentBlock img {
  transition: transform 0.3s, filter 0.3s;
}

.contentBlock:hover img {
  filter: brightness(50%);
}
